{% extends "layout.html" %}
{% block title %}
    Theory
{% endblock %}
{% block main %}
<h2>Spoon Theory</h2>
<p>Spoon theory has become a ubiquitous metaphor for describing how a single activity may require different amounts of physical and mental energy depending on the particular circumstances of an individual or group. The original metaphor hinges on the notion that the quantity of spoons - the amount of energy one starts with at the beginning of a day - is finite for any given day, like it is for those living with chronic physical or mental illness.</p>
<h4>Chronic Illness</h4>
<p>Originally coined by Christine Miserandino as a metaphor for living day-to-day life with Lupus, the spoon theory demonstrates the different amounts of physical energy activities take on for a person experiencing chronic illness.</p>
<p>Read more at <a href="https://butyoudontlooksick.com/articles/written-by-christine/the-spoon-theory/"> But You Don't Look Sick.</a></p>
<h4>Mental Illness</h4>
<p>As mental illness can often seem "invisible," applying spoon theory to mental health issues can help bridge gaps of understanding. "It can be hard for people to wrap their heads around what it's like to live with an invisible illness, and this metaphor presents the illness experience in concrete terms without oversimplifying." </p>
<p>From <a href="https://mentalhealthathome.org/2019/01/28/spoon-theory-mental-illness/"> Mental Health at Home</a></p>
<h4>Other Applications</h4>
<p>This metaphor serves as a vehicle for understanding a wide variety of inequities and differences, but was created to describe the very specific experience of living with Lupus. If you are able to contribue, please consider <a href="https://support.lupus.org/site/Donation2;jsessionid=00000000.app30116a?idb=597830246&df_id=4202&4202.donation=form1&mfc_pref=T&NONCE_TOKEN=539280169B7315297989BED365A7A0CE&s_subsrc=link_footer_donate&s_src=lupus.org&4202_donation=form1" target="_parent"> making a donation</a> to fund Lupus research.</p>
{% endblock %}