<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="styles.css" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spoon Theory | Contact</title>
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                    <a class="nav-link active" href="index.html">Spoons</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"  href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="applications.html">Applications</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Contact</h2>
            <p>This site was built by <a href="https://github.com/kirstenopstad" target="_parent">Kirsten Opstad</a> as a project for CS50x, an online computer science course offered by Harvard University.</p>
            <p>The front end is supported by the Bootstrap framework and basic programming is written in javaScript.</p>
            <p>The intention of this site is to demonstrate the basic spoon theory metaphor, to be used as an instrument for spreading awareness.</p>
        </main>
        <footer>
            <p>Based on the Christine Miserandino's spoon theory.</p>
        </footer>
    </body>
</html>